// background colors
@body-bgcolor: rgb(255, 255, 255);
@nav-bgcolor: rgba(0, 0, 0, 0.05);

// font defaults
@font-family: 'Source Sans Pro', sans-serif;
@font-style: normal;
@font-line-height: 150%;


@heading-color: rgb(68, 68, 68);
@heading-weight: 900;
@heading-size: 24pt;
@heading-line-height: 110%;

@text-color: rgb(136, 136, 136);
@text-weight: 300;
@text-size: 14pt;

body {
    background: @body-bgcolor;
    font-family: @font-family;
    line-height: @font-line-height;
    color: @text-color;
    font-weight: @text-weight;
    font-size: @text-size;
    margin: 0;
    padding: 0;

    > header {
	background: @nav-bgcolor;
    }
}

h1, h2, h3, h4, h5, h6 {
    color: @heading-color;
    font-weight: @heading-weight;
    line-height: @heading-line-height;
}


    