@body-color: rgb(255, 255, 255);
@nav-color: rgba(0, 0, 0, 0.15);
@font-family: 'Source Sans Pro', sans-serif;

@heading-color: rgb(68, 68, 68);
@heading-size: 24pt;
// style variant weight size/line-height family
@heading-font: normal normal 900 ~"@{heading-size}/110%" 'Source Sans Pro', sans-serif;

@text-color: rgb(136, 136, 136);

h1, h2, h3, h4, h5, h6 {
    color: @heading-color;
    font-family: @font-family;
}

body {
    background: @body-color;
    color: @text-color;
    font-family: @font-family;
    margin: 0;
    padding: 0;

    > header > h1 {
	font: @heading-font;
    }
}


    